<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
		<!--
        <add name="SomerenDatabase" connectionString="Data Source=#ip;
         Initial Catalog=#dbname; User=#username; Password=#password"/>
		-->
		<!--
		<add name="SomerenDatabase" connectionString="Server=.;Database=Someren;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
		-->
		<add name="SomerenDatabase" connectionString="Server=grasshoppersdatabase4.database.windows.net;Database=GrassHoppersDataBase;User ID=GrasshopperGroup;Password=IFKRGroup5project3;" providerName="System.Data.SqlClient"/>
		
    </connectionStrings>
</configuration>