<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SomerenDatabase" connectionString="Data Source=grasshoppersdatabase4.database.windows.net;
         Initial Catalog=GrassHoppersDataBase; User=GrasshopperGroup; Password=IFKRGroup5project3"/>
    </connectionStrings>
</configuration>